<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="update rate">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/css/material.blue-indigo.min.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link href="/image/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Update Rate</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
          </div>
        </div>
      </div>
    </header>

    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Update Rate</span>
      <nav class="mdl-navigation">
        <% webNav.forEach(function(val, idx) { %>
          <a class="mdl-navigation__link" href="<%= val.url %>"><%= val.title %></a>
        <% }) %>
      </nav>
    </div>

    <main class="mdl-layout__content">
      <div class="page-content" id="page-content">
        <div id="updateByWeb" class="chart-wrap">
          <div class="titleTab">
            <div class="type-filter">
              <% webArr.forEach(function(val, idx) { %>
                <% if (idx == 0) { %>
                  <button data-type="day" data-fttype="byweb" data-value="<%= val %>" data-key="web" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"><%= val %></button>
                <% } else { %>
                  <button data-type="day" data-fttype="byweb" data-value="<%= val %>" data-key="web" class="mdl-button mdl-js-button mdl-js-ripple-effect"><%= val %></button>
                <% } %>
              <% }) %>
            </div>
          </div>

          <div class="chart-show">
            <div id="progress-byweb" class="update-grogress mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <div id="chart-byweb" class="chart"></div>
          </div>
        </div>

        <div id="updateByCate" class="chart-wrap">
          <div class="titleTab">
            <div class="type-filter">
              <% cateArr.forEach(function(val, idx) { %>
                <% if (idx == 0) { %>
                  <button data-type="day" data-fttype="bycate" data-value="<%= val %>" data-key="category" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"><%= val %></button>
                <% } else { %>
                  <button data-type="day" data-fttype="bycate" data-value="<%= val %>" data-key="category" class="mdl-button mdl-js-button mdl-js-ripple-effect"><%= val %></button>
                <% } %>
              <% }) %>
            </div>
          </div>

          <div class="chart-show">
            <div id="progress-bycate" class="update-grogress mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <div id="chart-bycate" class="chart"></div>
          </div>
        </div>

        <div id="realTimeByWeb" class="chart-wrap">
          <div class="titleTab">
            <div class="type-filter">
              <% webArr.forEach(function(val, idx) { %>
                <% if (idx == 0) { %>
                  <button data-type="realtime" data-fttype="realtimeByweb" data-value="<%= val %>" data-key="web" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"><%= val %></button>
                <% } else { %>
                  <button data-type="realtime" data-fttype="realtimeByweb" data-value="<%= val %>" data-key="web" class="mdl-button mdl-js-button mdl-js-ripple-effect"><%= val %></button>
                <% } %>
              <% }) %>
            </div>
          </div>

          <div class="chart-show">
            <div id="progress-realtime-byweb" class="update-grogress mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <div id="realtime-chart-byweb" class="chart"></div>
          </div>
        </div>

        <div id="updateTable" class="chart-wrap">
          <div class="titleTab">
            <div class="type-filter">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">TABLE</button>
            </div>
          </div>

          <div class="mdl-grid table-wrap">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--1-col-tablet">
              <div class="switch-menu">
                <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">more_vert</i>
                </button>

                <p class="cur-choice"><%= webArr[0] %></p>

                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
                  <% webArr.forEach(function(val, idx) { %>
                      <li data-type="day" data-fttype="byweb" data-value="<%= val %>" data-key="web" class="mdl-menu__item"><%= val %></li>
                  <% }) %>
                </ul>
              </div>
              <div id="table-byweb"></div>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-cell--1-col-tablet">
              <div class="switch-menu">
                <button id="menu-lower-left2" class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">more_vert</i>
                </button>

                <p class="cur-choice"><%= cateArr[0] %></p>

                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left2">
                  <% cateArr.forEach(function(val, idx) { %>
                      <li data-type="day" data-fttype="bycate" data-value="<%= val %>" data-key="category" class="mdl-menu__item"><%= val %></li>
                  <% }) %>
                </ul>
              </div>
              <div id="table-bycate"></div>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-cell--1-col-tablet">
              <div class="filter-list clearfix">
                <div class="switch-menu mul-filter">
                  <button id="menu-lower-left3" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                  </button>

                  <p class="cur-choice"><%= lastDay %></p>

                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left3">
                    <% realtimeDateList.forEach(function(val, idx) { %>
                      <li data-type="realtime" data-fttype="realtimeByweb" data-value="<%= val %>" data-key="date" class="mdl-menu__item"><%= val %></li>
                    <% }) %>
                  </ul>
                </div>

                <div class="switch-menu mul-filter">
                  <button id="menu-lower-left4" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                  </button>

                  <p class="cur-choice"><%= webArr[0] %></p>

                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left4">
                    <% webArr.forEach(function(val, idx) { %>
                        <li data-type="realtime" data-fttype="realtimeByweb" data-value="<%= val %>" data-key="web" class="mdl-menu__item"><%= val %></li>
                    <% }) %>
                  </ul>
                </div>
              </div>

              <div id="realtime-table-byweb"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="/js/material.min.js"></script>
  <script src="/js/echarts-all.js"></script>
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
